<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>用户登录</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/css/style_login.css" rel="stylesheet" type="text/css" media="all"/>
    <link type="text/css" rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="login">
    <div class="login-top">
        <h1>用户登录</h1>
        <form action="/login" method="post">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            用户名:<input type="text" value="Username" name="username" onfocus="this.value = '';" >
            <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
            密码:　<input type="password" value="Password" name="password" onfocus="this.value = '';" >
            <div class="login-button">
                <input value="登录" type="submit" style="text-align: center;">
            </div>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        </form>
    </div>
    <div class="login-bottom">
        <h3>企业信息管理系统</h3>
    </div>
</div>


</body>
</html>